@forward 'includes';
@use 'includes/functions' as f;

main{width: clamp(f.calcEm(375),100vw,f.calcEm(1440));}

.container{
    width: 85%;
    margin-inline: auto;
    display: grid;
    padding: f.calcRem(20) 0 f.calcRem(30);
}

h1,h2{color: var(--pale-blue);}
p{color: var(--light-lavender);}

#results{
    background: var(--primary-gradient);
    border-radius: 0 0 f.calcRem(30) f.calcRem(30);
    text-align: center;

    .container{
        row-gap: f.calcRem(10);
        place-items: center;
    }
}

.score{
    border-radius: 50%;
    padding: f.calcRem(32);
    width: f.calcRem(150);
    height: f.calcRem(150);
    background: var(--secondary-gradient);

    h1{
        font-size: f.calcRem(60);
        font-weight: 800;
    }
}

#summary{
    margin-top: f.calcRem(15);

    .container{row-gap: f.calcRem(15);}

    .summary-item{
        display: flex;
        justify-content: space-between;
        padding: f.calcRem(15);
        border-radius: f.calcRem(10);

        &-title{
            display: flex;
            column-gap: f.calcRem(10);
        }

        &-score span{
            font-weight: 700;
            color: var(--dark-gray-blue);
        }
    }
}

.reaction{
    background: var(--light-red-bg);
    h4{color: var(--light-red);}
}

.memory{
    background: var(--orangey-yellow-bg);
    h4{color: var(--orangey-yellow);}
}

.verbal{
    background: var(--green-teal-bg);
    h4{color: var(--green-teal);}
}

.visual{
    background: var(--cobalt-blue-bg);
    h4{color: var(--cobalt-blue);}
}

.button-div{
    width: 85%;
    margin-inline: auto;
    text-align: center;

    #continue-btn{
        width: 100%;
        padding: f.calcRem(15);
        border-radius: f.calcRem(30);
        font-weight: 700;
        color: var(--white);
        background: var(--dark-gray-blue);
        border: none;

        &:hover{background: var(--primary-gradient);}
    }
}

.attribution {font-size: 11px; text-align: center; margin-top: f.calcRem(20);}
.attribution a {color: var(--attribution-blue);}